.ui.relaxed.equal.width.grid
  .ui.row
    .ui.four.wide.column
    .ui.eight.wide.column.segment
      %h2.ui.center.aligned.dividing.header
        %i.lock.icon>
        Forgot your password?
      %div{:class => "ui form #{"error" if resource.errors.any?}"}
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          .ui.error.message
            = devise_error_messages!
          .field
            = f.label :email
            = f.email_field :email, autofocus: true ,placeholder: "Enter your registered email"
          %br/
          .actions
            = f.submit "Send me reset password instructions",class: "ui submit button primary "
        .ui.horizontal.divider or
        .ui.celled.horizontal.list
          = render "devise/shared/links"
